/** CUSTOM FONTS **/
@font-face 
{
    font-family: ChalkHeader; 
    src: url('../fonts/chalk-hand.ttf');
}

@font-face 
{
    font-family: ChalkSecondary; 
    src: url('../fonts/right-chalk.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face 
{
    font-family: Crayon; 
    src: url('../fonts/colored-crayon.ttf');
	font-weight: normal;
	font-style: normal;
}


@font-face 
{
    font-family: CrayonThin; 
    src: url('../fonts/thin-crayon.ttf');
	font-weight: normal;
	font-style: normal;
}


html 
{ 
  background: url("../images/bg3.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  text-align: center;
}

/** HEADER AREA **/
#home #name
{
	font-family: ChalkHeader;
	font-size: 8em;
    /**NOTE: Change to normal if its a header **/
    font-weight: normal;
    background-image: url("../images/name.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

#home #profession
{
	font-family: ChalkSecondary;
	font-size: 2em;
    font-weight: normal;
}

/** NAVIGATION BAR **/
a
{
     text-decoration: none; 
     color:white;
     padding: 30px;
}
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.navbar-fixed 
{
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

#nav 
{
    font-family: Crayon;
    font-size: 2em;
    padding: 60px;
    background-image: url("../images/nav-border.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
}

#nav-about { color: #00a1bf; }
#nav-skills { color: #70ff00; }
#nav-projects { color: #bf002a; }
#nav-contact { color: #8600e4; }


/** ABOUT SECTION **/
.sectionTitle
{
     font-family: CrayonThin;
     font-size: 6em;
     margin-top: 40px;
}
.sectionArea
{
    margin-bottom: 140px;
}

/** SKILLS SECTION **/
#skills
{
    background-image: url("../images/skills-border.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


/** PROJECTS SECTION **/

/** CONTACTS SECTION **/